.bg-item-align {
    background-color: rgba(198, 238, 246, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    .item-align {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 32px;
        opacity: 0.5;
    }
    .active {
        opacity: 1;
    }
}
