.outer-content {
    padding: 50px 80px 50px 80px;

    .inner-content {
        background-color: #fff;
    
        &.inner-content-layout-mobile {
            max-width: 320px;
            margin: 0px auto;
        }
    
        p {
            margin: 0;
        }
    }
}