.block-full {
    padding: 0px 10px 8px 10px;
    width: 353px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
}

.section-label-title {
    font-weight: bold;
    line-height: 1;
    color: #333333;
    font-family: "Roboto";
    font-size: 16px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.section-label {
    font-weight: bold;
    line-height: 1;
    color: #333333;
    font-family: "Roboto";
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.side-panel-tabs {
    height: 100%;
    .nav-link {
        border: 0 none !important;
        color: #666;
        cursor: pointer;
        font-size: 14px;
        padding: 0 20px 5px;
        &.active {
            border-bottom: 2px solid !important;
            color: #0eabd8 !important;
            font-weight: bold !important;
        }
    }
    .nav-item {
        margin-bottom: 0;
    }
}

.content-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d2d8d9;
    border-radius: 3px;
    background-color: #f0f8fa;
    padding: 8px 13px;
    padding-bottom: 0;
}

.blockbuilder-row {
    height: 20px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 4px;
    transition-duration: 0.15s;
    transition-property: box-shadow;
    .blockbuilder-column {
        position: relative;
        height: 100%;
        padding: 0px;
        overflow: hidden;
        .blockbuilder-column-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            font-size: 12px;
            color: #707070;
            &::after {
                content: " ";
                z-index: 100;
                position: absolute;
                inset: 1px;
                outline: #707070 solid 2px;
                pointer-events: none;
            }
        }
    }
}

.col-6 {
    max-width: 49% !important;
    flex: 0 0 50%;
}

.block-tab-column {
    width: 245px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background: #f0f8fa;
    padding: 8px 7px;
    border-radius: 2px;
    .tab {
        padding: 2px 5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    .active {
        background: #13abd7;
    }
}

.add-column {
    border: 2px solid #dde1e2;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    i {
        font-size: 10px;
        color: #889199;
    }
}
