.grid-container {
    display: grid;
    grid-template-columns: auto 338px;
    grid-template-rows: auto auto;
    grid-template-areas: "workspace sidepanel";

    .grid-workspace {
        grid-area: workspace;
        background-color: #E3EEF1;
    }

    .grid-sidepanel {
        grid-area: sidepanel;

    }
}