.grid-container {
    display: grid;
    grid-template-columns: auto 338px;
    grid-template-rows: auto auto;
    grid-template-areas: "workspace sidepanel";
    position: relative;
    // overflow-y: scroll;
    // height: 100vh;

    &.side-panel-left {
        grid-template-columns: 338px auto;
        grid-template-rows: auto auto;
        grid-template-areas: "sidepanel workspace";
    }

    .grid-workspace {
        grid-area: workspace;
        background-color: #E3EEF1;
    }

    .grid-sidepanel {
        grid-area: sidepanel;

    }
}
.spinner-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}